---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()
);
---

<Layout title="Blog - Jeeho Ahn"
  ><div class="py-24">
    <h1 class="text-2xl font-semibold">Blog</h1>
  </div>
  <section>
    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`} class="flex gap-5">
              <img
                class="h-64 w-[34rem]"
                src={post.data.coverImage}
                onerror="if (this.src != 'error.jpg') this.src = 'error.jpg';"
                alt=""
              />
              <div class="flex flex-col gap-3">
                <div class="w-12 h-0.5 mb-1 border-b border-gray-11" />
                <h2 class="text-xl md:text-2xl font-semibold w-fit">
                  {post.data.title}
                </h2>
                <p class="leading-snug">
                  <FormattedDate date={post.data.publishedAt} />
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
