---
import CraftMakerForm from "@/components/craft-maker-form";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Craft Maker!">
  <div class="max-w-sm">
    <h1 class="text-4xl font-bold">Craft Maker!</h1>
    <CraftMakerForm client:load />
  </div>
</Layout>
