---
import BackButton from "@/components/back-button.astro";
import Nav from "@/components/nav.astro";
import TextWrapper from "@/components/text-wrapper.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Craft - Vignette">
  <BackButton /><div class="flex justify-end"><Nav horizontal /></div>
  <div class="py-12">
    <div
      class="slidein xl:absolute hidden xl:block mt-12 font-display text-gray-8 font-semibold uppercase tracking-wide text-4xl [writing-mode:vertical-lr] left-4"
    >
      craft - vignette &rarr;
    </div>
    <img
      transition:name="vignette-img"
      src="https://io.jcde.xyz/images/screenshot/vignette.png"
      class="w-full rounded-lg shadow-md"
    />
    <TextWrapper>
      {" "}
      <span class="font-medium inline-block text-gray-11">Project</span>
      <div class="flex justify-between items-baseline">
        <h1 class="mt-2 text-3xl lg:text-5xl font-semibold w-fit">Vignette</h1>
        <span class="mt-4 inline-block text-gray-11"> 2021 ~ Ongoing </span>
      </div>
      <p class="mt-8 text-xl text-balance">
        Vignette is the open-source modular streaming toolkit for virtual
        streaming. Working as a Core developer and a Community moderator, I
        helped design and develop the Vignette website refresh with Next.js, and
        helped build the infrastructure supporting it.
      </p>
      <a
        href="https://vignetteapp.org"
        class="mt-8 text-xl font-medium inline-block"
      >
        Visit &rarr;
      </a>
    </TextWrapper>
  </div>
</Layout>
