@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

* {
  @apply border-gray-5 selection:bg-gray-4;
}

.dark{
  color-scheme: dark;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(50 50 50 / 0.4)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}   
.hero-container {
  perspective: 1000px;
}

@layer components {
  .scroll-indicator {
    @apply w-0.5 bg-gray-10 rounded-full h-8 origin-top  ;
    animation: scroll 3s infinite; 
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {  transform: scaleY(0%) scaleX(0%); }
  50% { transform: scaleY(100%); }
  100% {  transform: scaleY(0%) scaleX(0%); }
}

 
@layer components {
  .animate-fade-in {
    @apply transition-opacity duration-500 ease-in-out;
    animation: fadeIn 2s forwards;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
 
  
.wow{
  -webkit-mask: linear-gradient(transparent 50%, black);
    filter: blur(10px)  ; 
  /*   filter: url('#filtre2'); */
  }
  .wow:hover{
     -webkit-mask: none;
     -webkit-filter: none;
     mask: none;
     filter: none;
  }

main a {
  @apply text-gray-12 font-medium underline underline-offset-2;
}

.font-display {
  font-variation-settings:"opsz" 32;
}
@keyframes rgb {   
  0%   {color: hsl(8, 96%, 47%);} /* Red */
  25%  {color: hsl(57, 100%, 56%);} /* Yellow */
  50%  {color: hsl(56, 100%, 53%);} /* Warm Yellow */
  75%  {color: hsl(60, 100%, 85%);} /* Light Yellow */
  100% {color: hsl(57, 100%, 76%);} /* Light Yellow 2 */
}
.animate-rgb:hover {
  animation: rgb 10s infinite;
}

.repo{
  @apply flex items-center gap-1.5
}