---
interface Props {
  data: {
    videoUrl: string;
    type: string;
    width: number;
    height: number;
    aspectRatio: number;
    name: string;
    url: string;
    date: string;
  };
}
const { data } = Astro.props;
---

<div
  class="border border-gray-5 rounded-xl overflow-hidden relative"
  style={{ aspectRatio: data.aspectRatio }}
>
  <video playsinline src={data.videoUrl} loop autoplay muted></video>
  <div class="p-4 mix-blend-difference text-gray-8 absolute flex justify-between inset-x-0 bottom-0 text-sm">
    <div>{data.name}</div>
    <div>
      {data.date}
    </div>
  </div>
</div>
