---
const today = new Date();
import { GitHubLogoIcon, TwitterLogoIcon } from "@radix-ui/react-icons";
---

<footer class="text-gray-11 flex items-center justify-between text-sm pb-2">
  <div>
    &copy; {today.getFullYear()} Jeeho Ahn
  </div>

  <div class="flex items-center gap-4 text-base">
    <a href="https://twitter.com/iojcde"
      ><TwitterLogoIcon width={16} height={16} /></a
    >
    <a href="https://github.com/iojcde"
      ><GitHubLogoIcon width={16} height={16} /></a
    >
  </div>
</footer>
